/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin/roboto-v30-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin/roboto-v30-latin-500.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --maxWidth: 1120px;
  --primaryFont: "Roboto", sans-serif;
  --primaryTextColor: #000;
  --primaryTextSize: 16px;

  /* Color */
  --light-gray: ;
  --gray: #eeeff1;
  --darkGray: #727272;
  --dark-blue: #34547a;
  --white: #fff;
  --black: #000;
}

/*
  Reset styles to remove default margins and paddings
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  font-family: var(--primaryFont);
  font-size: var(--primaryTextSize);
  line-height: 1.64;
  color: var(--primaryTextColor);
  background-color: var(--white);
}

a {
  text-decoration: none;
  color: var(--primaryTextColor);
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-right: 42px;
}

.highlight-link {
  color: var(--dark-blue);
}

nav {
  margin-bottom: 151px;
}

p {
  color: var(--darkGray);
  margin-bottom: 65px;
  padding-right: 400px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin-bottom: 50px;
}

h1 {
  font-size: 48px;
  margin-bottom: 60px;
}

h2 {
  font-size: 32px;
  text-align: center;
}

h4 {
  color: var(--white);
  font-size: 21px;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  border: none;
  outline: none;
  background-color: var(--dark-blue);
  text-align: center;
  color: var(--white);
  font-family: var(--primaryFont);
  font-weight: 400;
  letter-spacing: 0.1em;
  transition: 0.5s;
  cursor: pointer;
  min-width: 225px;
  padding: 19px 41px 20px;
}

button:focus {
  box-shadow: 0px 0px 10px #717171da;
}

button:hover {
  background-color: #1e344e;
}

/* Header */
.header {
  padding-top: 80px;
  padding-bottom: 140px;
  background-color: var(--gray);
}

/* Sections */
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section p {
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
  padding-right: 0px;
}

.first-section {
  padding-top: 112px;
}

.second-section {
  background-color: var(--dark-blue);
}

.second-section p {
  color: var(--white);
}

.icons-wrapper {
  display: inline-block;
  vertical-align: top; /* To align containers at the top */
  margin-right: 15px; /* Approximate spacing between containers */
}

.icon-text {
  display: inline-block;
  margin-left: 20px; /* Approximate spacing between image and text */
  margin-top: 3px;
  margin-bottom: 3px;
}

.third-section {
  background-color: var(--gray);
}

.third-section p {
  max-width: 590px;
  margin-bottom: 57px;
}

/* Footer */
footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--dark-blue);
}

.footer h4 {
  margin-bottom: 20px;
}

.footer p {
  color: var(--white);
  margin-bottom: 0;
}

.container {
  max-width: var(--maxWidth);
  padding-left: 100px;
  padding-right: 100px;
  margin-left: auto;
  margin-right: auto;
}
