/*
  Reset styles to remove default margins and paddings
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  background-color: #eeeff1;
  height: 25%;
  width: 100vw;
}

header nav {
  padding-top: 20px;
}

header nav a {
  margin-left: 150px;
  text-decoration: none;
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 150px;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 500;
  line-height: 79px;
  letter-spacing: 0em;
  text-align: left;
}

.top p {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #727272;
  margin-left: 150px;
  width: 520px;
  margin-bottom: 30px;
}

.buy-btn {
  margin-left: 150px;
  margin-bottom: 70px;
  width: 225px;
  height: 65px;
  background-color: #34547a;
  text-align: center;
  color: rgb(246, 250, 255);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.1em;
  border: none;
}

.personal_block h2 {
  margin-top: 80px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
}

.personal_block p {
  margin: auto;
  margin-bottom: 60px;
  width: 480px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  color: #727272;
}

svg {
  margin-left: 150px;
  margin-top: 20px;
  margin-right: 2px;
}

.icons-wrapper {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  height: 170px;
  background-color: #34547a;
}

.icon {
  position: relative;
}

.icon-text {
  position: absolute;
  display: flex;
  top: 20px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 210px;
}

.icon-text p {
  margin: 0;
  font-size: 12px;
  color: white;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
}

.icon-text h3 {
  color: white;
  font-family: Roboto;
  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
}

.way-of-working {
  background-color: #eeeff1;
  text-align: center;
  height: 40%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-bottom: 40px;
}

.way-of-working h2 {
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 60px;
}

.way-of-working p {
  color: #727272;
  font-size: 16px;
  margin-bottom: 40px;
  margin-left: 150px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
  width: 540px;
}

.site-footer {
  background-color: #34547a;
  height: 110px;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.site-footer h3 {
  font-size: 18px;
  margin-bottom: 5px;
  color: white;
  margin-left: 150px;
  margin-top: 30px;
}

.site-footer p {
  font-size: 14px;
  color: white;
  margin-left: 150px;
  margin-top: 7px;
}
